<nav class="top-0 z-50 py-4 bg-gray-800 shadow-md ">
  <div class="container flex items-center justify-between px-6 mx-auto">
    <img
      (click)="router.navigate(['/home'])"
      src="https://recipestate.com/_next/image?url=%2Ficons%2Flogo.png&w=384&q=75"
      alt="RecipeState Logo"
      class="w-auto h-10 cursor-pointer"
    />
    <div class="relative">
      <div *ngIf="currentUser; else signInButton">
        <button
          (click)="toggleOptions()"
          class="flex items-center text-white hover:text-gray-200 focus:outline-none"
        >
          <span class="mr-2">{{ currentUser.name }}</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5 transition-transform duration-200"
            [ngClass]="{ 'rotate-180': showOptions }"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"
            />
          </svg>
        </button>
        <div
          *ngIf="showOptions"
          class="absolute right-0 z-10 w-48 mt-2 origin-top-right bg-white rounded-md shadow-lg"
        >
          <div class="rounded-md ring-1 ring-black ring-opacity-5">
            <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
              <button
                (click)="navigateToProfile()"
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                role="menuitem"
              >
                User Profile
              </button>
              <button
                (click)="navigateToMealPlanning()"
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                role="menuitem"
              >
                Meal Planning
              </button>
              <button
                (click)="navigateToShoppingList()"
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                role="menuitem"
              >
                Shopping List
              </button>
              <button
                (click)="logout()"
                class="block w-full px-4 py-2 text-sm text-left text-gray-700 hover:bg-gray-100"
                role="menuitem"
              >
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #signInButton>
        <button
          (click)="router.navigate(['/login'])"
          class="text-white hover:text-gray-200 focus:outline-none"
        >
          Sign In
        </button>
      </ng-template>
    </div>
  </div>
</nav>